@use '../helpers' as *;

.button {
  display: inline-flex;
  justify-content: center;
  min-width: rem(192);
  padding: rem(15) rem(40);
  font-size: rem(20);
  color: var( --color-white);
  white-space: nowrap;
  background-color: var(--color-green);
  border: none;
  font-weight: 600;
  border-radius: var(--border-radius);

  &-transparent{
    color: var(--color-green);
    border: 1px solid var(--color-green);
    background-color: transparent;
  }

  @include laptop {
    min-width: rem(103);
    padding: rem(14) rem(20);
    font-size: rem(14);
    
  }

  // @include hover {
  //   color: var(--color-accent);
  //   background-color: var(--color-dark-10);
  //   border-color: var(--color-accent);
  // }

  // &--accent {
  //   font-weight: 500;
  //   color: var(--color-dark);
  //   background-color: var(--color-accent);
  //   border-color: var(--color-accent);
  //   border-radius: rem(8);
  // }

  // &--dark-gray {
  //   background-color: var(--color-dark-10);
  // }
}