@use '../helpers' as *;

.header {
  &__body {
    padding-block: rem(40);
    
    @include tablet {
      padding-block: rem(20);
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(16);
      
      
    }
    &-link {
      padding: rem(14) rem(24);

      @include tablet{
        padding: rem(10) rem(12);
      }
      
      &.is-active {
        color: var (--color-white);
        font-weight: 500;
        background-color: var(--color-dark);
        border: var(--border);
        border-radius: rem(10);
        pointer-events: none;
      }
    }
  }
}

