@use '../helpers' as *;

.logo {
  font-size: fluid(50, 30);
  font-weight: 700;

  @include laptop{
    color: red;
  }
  @include tablet{
    color: green
  }
  @include mobile{
    color: blue
  }

  @include mobile-s{
    color: yellow
  }
  
  
}